/* Дизайн кнопок для реєстрації і виходу*/
body{
  background-color: whitesmoke;
}

.account-bg {
  width: 100%;
  min-height: 50vh;
  max-height: 600px;
  background-image: url('https://i.pinimg.com/1200x/4d/79/d6/4d79d6bef684367052b409e2ef9a9ede.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  position: relative;
  z-index: -10;
}

.inner-info {
  position: absolute;
  left: 20px;
  bottom: 20px;
}

.account-pic {
  width: 200px;
  object-fit: contain;
  border-radius: 120px;
  border: 2px dotted white;
}

.account-nic {
  font-family: Inconsolata, Roboto, sans-serif;
  background-color: black;
  opacity: 80%;
  padding: 10px;
  border-radius: 20px;
  font-size: 20px;
  color: white;
  border: 1px solid white;
}

.applications {
  margin: 60px 0;
}

.tab {
  overflow: hidden;
  background-color: white;
  margin-left: 5px;
}

/* buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  
  margin: 0 2px;
  padding: 18px 20px;
  font-size: 20px;
  font-weight: 600;
  color: #3a3d51;
  transition: all 0.3s;
}

.tab button:hover {
  background-color: rgb(243, 219, 219, 0.6);
  transition: all 0.3s;
}

.tab button.active {
  background-color: rgb(244, 213, 213);
  color: black;
}

.tabcontent {
  display: none;
  padding: 6px 12px;
}

.no-content {
  margin: 10px;
  padding: 0;
  border-radius: 60px;
  background-color: white;
  height: 100%;
}

.no-content img {
  width: 300px;
}

.no-content .button{
  background-color: rgb(244, 213, 213);
  transition: all 0.3s;
  margin: 15px 0;
}

.no-content .button:hover{
  background-color: rgb(224, 160, 170);
}

@media (max-width: 576px) {
  .tab button {
    padding: 10px 15px;
    font-size: 14px;
  }
  
  .account-pic{
    width: 120px;
  }

  .account-nic{
    font-size: 14px;
  }

  .applications{
    margin: 40px 0px;
  }

}

@media (min-width: 577px) and (max-width: 768px) {
  .account-pic{
    width: 160px;
  }
  .account-nic{
    font-size: 16px;
  }

  .applications{
    margin: 50px 0px;
  }


}

@media (min-width: 769px) and (max-width: 1024px) {
  .account-pic{
    width: 180px;
  }

  .account-nic{
    font-size: 18px;
  }

}

@media (min-width: 1025px) {
  .account-pic{
    width: 200px;
  }

  .account-nic{
    font-size: 20px;
  }


}

/* @media (max-width: 576px) {}
@media (min-width: 577px) and (max-width: 768px) {}
@media (min-width: 769px) and (max-width: 1024px) {}
@media (min-width: 1025px) {} */
  