.first_section{
    background-color: whitesmoke;
    padding: 50px 0;
    text-align: center;
    width: 100vh;
}

.left-side{}

.title{}

.hackathon-image{}

.timer{}

.join-button{}

.right-side{}

.hackathon-info{}

.deadline{}

.location{}

.prize{}

.theme{}

.hackathon-organizer{}

.description{}

.rules{}