*, h1{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.title{
    font-weight: 500;
    font-size: 35px;
}

.preview{
    background-color: whitesmoke;
    padding: 50px;
    margin: 40px 0px;
    display: flex;
    justify-content: space-around;
}

.left-side{
    flex: 2;
    align-items: start;
    text-align: left;
    padding: 0 60px;
    margin: 30px 0;
    background-color: whitesmoke;
}

.image-container{
    display: inline-block;
}

.hackathon-image{
    width: 100%;
    object-fit: cover;
    border-radius: 11px;
}

.countdown-box{
    display: flex;
    gap: 15px;
    text-align: center;
}

/* .countdown{
} */

.title, .countdown-box{
    padding: 10px 0;
}

.join-button{ 
    background-color: #375B5A;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px 0;
    border-radius: 5px;
    cursor: pointer;
}

.right-side{
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    flex: 1;
    padding: 10px 20px;
    margin: 0 30px;
    background-color: white;
}

.hackathon-info{
    
}

.deadline, .location, .prize, .theme, .hackathon-organizer{
    margin: 30px 0;
}

.location{}

.location img{
    width: 20px;
    margin: 0 10px;
    /* height: 20px; */
}

.prize{
    color: rgb(16, 16, 100);
    text-decoration: underline dotted   rgb(16, 16, 100);
}

.theme{}

.hackathon-organizer{}

.second-section{
    background-color: whitesmoke;
    color: white;
    padding: 50px 60px;
}

.description, .rules{
    margin: 30px 0;
}