* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f4f4f4;
}

.about-us{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 50px;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  /* transition: box-shadow 0.3s; */
}

.info {
  width: 50%;
  padding: 20px;
  text-align: left;
}

.info p{
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* .info button{
  font-size: 18px;
  background-color: lightpink;
  border: 1px solid black;
  border-radius: 15px;
  margin: 30px 0;
  padding: 10px 15px;
  cursor: pointer;
}

.info button a{
  color: black;
  text-decoration: none;

}

.info button:hover{
  background-color: rgb(224, 160, 170);
} */

/* .info:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
} */
/* 
.info p{
  margin: 20px;
  display: -webkit-box;
  -webkit-line-clamp: 15;
  -webkit-box-orient: vertical;
  overflow: hidden;
} */

.image{
  width: 50%;
  display: flex;
  justify-content: center;
  /* background: url('https://live.staticflickr.com/124/337160380_f5681cab06_w.jpg') no-repeat center center/cover; */
  /* background-image: url("https://live.staticflickr.com/124/337160380_f5681cab06_w.jpg") center/cover; */
}

.image img{
  max-width: 100%;
}

/* .logo{
  width: 150px;
} */

@media (max-width: 756px){
  .info{
    margin: 0px;
    padding: 10px;
  }

  .about-us{
    margin: 15px;
    padding: 5px;
  }
}